<%# main hp banner %>
<div class="banner hp">
  <div class="container">
    <div class="content">
      <div class="text">
        <h1><strong>Explore Asia <br>+100 things to do all in one place</strong></h1>
        <p>After 6 months traveling through Asia, here are my must-do.</p>
        <div class="btn-next-to">
          <div class="btn-article">
            <%= link_to "Discover", "/index", class: "btn-article about hp" %>
          </div>
          <div class="btn-article transparent">
            <%= link_to "About us", "/about", class: "btn-article about hp" %>
          </div>
        </div>
      </div>
      <div class="image">
        <%= image_tag "https://res.cloudinary.com/dbir145pd/image/upload/v1711987038/Design_sans_titre__19_-removebg-preview_gz7nhf.png", class: "banner-image" %>
      </div>
    </div>
  </div>
</div>
