<%# footer  %>
<div class="main-footer">
  <div class="wrapper">
    <div class="footer">
      <div class="footer-links">
        <a href="https://www.instagram.com/somymym/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.tiktok.com/@somymym"><i class="fab fa-tiktok"></i></a>
        <a href="https://www.linkedin.com/in/somyaabbar/"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        <span style="white-space: nowrap;"><h6>© 2024, Tou-do-rist - this website is made with <i class="fas fa-heart"></i> by Somya ABBAR.</h6></span>
      </div>
    </div>
  </div>
</div>
