.btn-ghost {
  color: #676767;
  border: 1px solid #676767;
  padding: 8px 24px;
  border-radius: 0.6rem;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  position: absolute;
  display: flex;
  right: 0;
  width: 100%;
  max-width: 180px;
  height: 55px;
  margin-left: auto;
  margin-right: auto;
}

.btn-ghost:hover {
  opacity: 1;
  background-color: rgb(237, 237, 237);

}

#see-more-btn-home {
  margin-right: 6%;
}


.container-pp .btn-pp {
  color: #ffffff;
  background-color: #F2C14E;
  padding: 8px 24px;
  border-radius: 0.6rem;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
  position:absolute;
  display: flex;
  width: 100%;
  max-width: 180px;
  height: 55px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
}


.banner-hp .btn-pp .btn{
  color: #ffffff;
  background-color: #F2C14E;
  padding: 5px 40px;
  border-radius: 0.6rem;
  opacity: 1;
  transition: opacity 0.3s ease;
  position:absolute;
  display: flex;
  width: 100%;
  max-width: 150px;
  height: 40px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 6px;
  padding-top: 6px;
}



.container-pp .btn-pp {
  margin-bottom: 20%;
}

// cards link hp
.cards-link{
  margin-left: 89%;
  color: #676767;
  text-decoration: none;
}

.cards-link:hover{
  opacity: 0.8;
  color:#676767;
}


.btn-hp-end{
    color: #000;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    font-size: 1rem;
    line-height: 1rem;
    border-radius: 1.375rem;
    width: 14%;
    margin-left: 2%;
    padding-left: 29px;
    padding-right: 28px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 1.375rem;
    margin-top: 2%;
}

.btn-hp-end:hover{
background-color: #f4f4f4;
}
