
.col-3 a{
  text-decoration: none;
}

.col-3 a:hover{
  color: black;
}


#new_message{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 45%;
  margin-left: 26%;
  padding: 12px;
  border-top: 1px solid #ddd;
  text-align: center;
  border: transparent;
  margin-bottom: 1%;
}



.col-4 .form-control{
  border-radius: 0.6rem;
  border: #C14214;
}

.col-4 .form-select{
  border: transparent;
}

.was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
  color: #C14214;
}


.was-validated .form-check-input:valid:checked, .form-check-input.is-valid:checked {
  background-color: #C14214;
  border: solid transparent;
}

.was-validated .form-check-input:valid:checked, .form-check-input.is-valid{
  border: solid transparent;
}
.col-4 .form-control:focus{
  border: 3px solid #C14214;
  opacity: 0.6;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  background-color: white;
}

.col-4 .form-control:hover
 {
  border: 3px solid #C14214;
  border-radius: 0.6rem;
  opacity: 0.6;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  background-color: white;
  webkit-transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, -webkit-box-shadow 200ms ease;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, -webkit-box-shadow 200ms ease;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease, -webkit-box-shadow 200ms ease;  outline: none;
}

.col-4 .form-control input:focus{
  border: 3px solid #C14214;
  opacity: 0.6;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  background-color: white;
}

.col-4 .form-select:hover{
  border: 3px solid #C14214;
  opacity: 0.6;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  background-color: white;
  webkit-transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, -webkit-box-shadow 200ms ease;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, -webkit-box-shadow 200ms ease;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease, -webkit-box-shadow 200ms ease;  outline: none;
}

.row a{
  text-decoration: none;
  background-color: transparent;
}


.link-validate{
  // margin-bottom: 35px;
  bottom: 0;
  // width: 100%;
  margin-top: 30px;
}

.link-validate a{
  background-color: #C14214;
  color: white;
  border-radius: 0.6rem;
  padding: 12px;
  // padding-left: 26.8%;
  // padding-right: 26.8%;
  opacity: 1;
  width: 100%
}

.link-validate a:hover{
  opacity: 0.8;
}

#inactive-link {
  background-color: #b3b3b2;
  color: white;
  border-radius: 0.6rem;
  padding: 12px;
  // padding-left: 26.8%;
  // padding-right: 26.8%;
  opacity: 1;
  width: 100%;
  margin-top: 30px;
  bottom: 0;
  padding-right: 26%;
  padding-left: 26%;
}

.link-validate a{
  border-radius: 0.6rem;
  padding: 12px;
  // padding-left: 26.8%;
  // padding-right: 26.8%;
  opacity: 1;
  width: 100%;
  margin-top: 30px;
  padding-right: 26%;
  padding-left: 26%;
}


.edit_modality input[type="submit"] {
  color: #C14214;
  background-color: transparent;
}

.edit_modality input[type="submit"]:hover {
  opacity: 0.8;
}


.flex-grow-1:hover{
  border: 3px solid #C14214;
  opacity: 0.6;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  background-color: white;
  webkit-transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, -webkit-box-shadow 200ms ease;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, -webkit-box-shadow 200ms ease;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease, -webkit-box-shadow 200ms ease;  outline: none;
}


.btn-primary{
  background-color: #C14214;
  border: transparent;
}

.btn-primary:hover{
  opacity: 0.8;
  background-color: #C14214;
  border: transparent;
}

.container-msg {
  margin-top: 4%;
}

.col-5{
  width: 47%;
  padding-left: 2%;
  margin-right: 2%;
  padding-right: 2%;
  height: 730px;
  border-right: 0.8px solid rgba(0, 0, 0, 0.562);
  border-left: 0.8px solid  rgba(0, 0, 0, 0.562);
  h4{
    font-weight: bold;
    font-size: 20px;
  }
}

.avatar.mr-3.msg{
  margin-top: 2%;
  margin-right: 1%;
}

.col-3{
  width: 25%;
  padding-left: 2%;
  h4{
    font-weight: bold;
    margin-bottom: 8%;
    padding-left: 5%;
    font-size: 20px;
  }
}

.col-4{
  width: 25%;
  margin-bottom: 3.4%;
  padding-right: 2%;
  h4{
    font-weight: bold;
    font-size: 20px;
  }
}

.div-left{
  margin-left: 7px;
}

.div-left .msg-left{
  font-size: smaller;
  color: #676767;
}


.div-left .name-msg-left{
  font-size: smaller;
  font-weight: bolder;
}

.div-left:hover{
  color: rgb(79, 79, 79);
}

.messages-container {
  height: 610px;
  overflow-y: auto;
}


.messages i{
  font-size: smaller;
  color: #676767;
}

.messages p{
  margin-bottom: 25px;
  color: #3d3d3d;
  font-weight: lighter;
  font-size: 14px;
  padding-left: 8%;
}

.align-items-center{
  border-bottom: 0.8px solid  rgba(0, 0, 0, 0.213);
  padding-bottom: 10%;
}

.d-flex .avatar{
  width: 50px;
  height: 50px;
}

.p-3 {
  padding: 0px !important;
}

.p-3.active.active{
  background-color: #f3f3f3;
  border-radius: 0.6rem;
}

.p-3 .align-items-center:hover{
  background-color: #f3f3f3;
  border-radius: 0.6rem;
}

.p-3 .align-items-center{
  padding-right: 25px;
  padding-left: 30px;
  padding: 20px;
}

.container-msg{
  background-color: white;
}

.accordion .form-label{
  display: none;
}


.accordion .form-check-input[type="checkbox"] {
  background-color: rgb(246, 246, 246);
}

.form-check-input[type="checkbox"]:hover {
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem #C14214;
}

.form-check-input[type="checkbox"]:checked {
  background-color: #C14214;
  border: solid transparent;
}

.form-check-input[type="checkbox"] {
  border: solid transparent;
}

.accordion {
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem transparent;
  --bs-accordion-bg: transparent;
  --bs-accordion-active-bg: transparent;
}

.accordion-header:hover {
  background-color: #f0f0f0;
}

.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay {
  background: #C14214;
  box-shadow: none;
  color: #fff;
  border-color: #C14214;
}

.accordion p{
  color: #808080;
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 0px;
}

.flex-msg-input{
  display: flex;
  flex-direction: column;
}

.validated{
  opacity: 0.8;
  background-color: #d7d7d7;
}

.validated:hover{
  opacity: 1;
}

.custom-bg-progress{
  background-color: #C14214;
}

.progress{
  margin-top: 7%;
}

.agreed-notification{
  background-color: #e2e2e2;
  border-radius: 0.6rem;
  // box-shadow: 0 0 10px 0.2px #d0d0d0;
  height: 95%;
  width: 95%;
  margin-left: 2%;
  p{
    font-weight: 500;
  }
}

.proposed-modality{
  font-size: small;
  font-weight: lighter;
  background-color: #f8f8f8;
  border-radius: 0.6rem;
  padding: 1%;
  box-shadow: 0 0 10px 1px #d0d0d0;
  height: 95%;
  width: 95%;
  margin-left: 2%;
}

.offer-msg-avatar-name{
  background-color: #f8f8f8;
  border-radius: 0.6rem;
  height: 95%;
  width: 95%;
  margin-left: 2%;
  margin-bottom: 2%;
  font-size: small;
  padding-top: 1px;
  padding-bottom: 1px;
  box-shadow: 0 0 10px 1px #d0d0d0;
  p{padding-left: 1px;
  padding-right: 1px;
  }
}

.offer-msg-avatar-name{
  .mb-3.string.optional{
    border-bottom: solid 0.7px rgba(128, 128, 128, 0.705);
    padding-bottom: 3%;
  }
  .form-control.is-valid.string.optional{
    height: 90%;
  }
  .form-control.is-valid.string.optional:focus{
    border: 3px solid #C14214;
    opacity: 0.6;
    outline: none !important;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    background-color: white;
  }

  .form-control.is-valid.string.optional:hover
   {
    border: 3px solid #C14214;
    border-radius: 0.6rem;
    opacity: 0.6;
    outline: none !important;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    background-color: white;
    webkit-transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, -webkit-box-shadow 200ms ease;
    transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, -webkit-box-shadow 200ms ease;
    transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease;
    transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease, -webkit-box-shadow 200ms ease;  outline: none;
  }
}



.button-counter-offer{
  color: #C14214 !important ;
  font-size: 15px;
}

.button-agreed-offer{
  color: #efc86c !important ;
  font-size: 15px;
}

.offer-msg-avatar-name{
  padding: 3%;
}

.mb-3.string.required.message_content.flex-grow-1{
.form-control.string.required{
  border-radius: 0.6rem 0px 0px 0.6rem !important;
}
.btn.btn-primary.mb-3{
  border-radius: 0rem 0.6rem 0.6rem 0rem !important;
}
}
