legend ~ div.form-check:first-of-type {
  clear: left;
}

.container-accommodation-form {
  background-color: white;
}

.accommodation-form {
  margin-left: 20%;
  margin-right: 20%;
  padding: 7%;
}

.accommodation-form input[type="text"],
.accommodation-form textarea,
.accommodation-form select {
  border-radius: 0.6rem;
  padding: 10px;
  border: white;
}

.accommodation-form input:focus {
  border: 3px solid #C14214;
  opacity: 0.6;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  background-color: white;
}

.accommodation-form input[type="submit"] {
  border-radius: 0.6rem;
  padding: 12px 16px;
  font-weight: 500;
  opacity: 1;
  transition: opacity 0.3s ease;
  margin-top: 10px;
  background-color: #C14214;
  color: white;
  border: white;
}

.accommodation-form input[type="submit"]:hover {
  opacity: 0.6;
  background-color: #C14214;
}

.accommodation-form h6 {
  color: #747474;
}

.accommodation-form h2 {
  font-weight: bolder;
}

.accommodation-text {
  margin-bottom: 6%;
}

.accommodation-form input {
  border: white;
  border-radius: 0.6rem;
}

.accommodation-form input:hover {
  border: 3px solid #C14214;
  opacity: 0.6;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  background-color: white;
}

.other-links a {
  text-decoration: none;
  color: #C14214;
}

.other-links {
  margin-top: 10px;
  margin-left: 9px;
}

.other-links a:hover {
  opacity: 0.8;
}

.super-accommodation-form {
  background-color: white;
  display: flex;
  align-items: center;
}

.super-accommodation-form legend ~ div.form-check:first-of-type {
  clear: left;
}

.super-accommodation-form .accommodation-form {
  flex: 1;
  margin-right: 0%;
  margin-left: 0%;
}

.super-accommodation-form .accommodation-text {
  margin-right: 16%;
}

.image-container-login {
  margin-left: 10%;
}

.container-accommodation-form.review {
  background-color: white;
}

.exchange-show .container-accommodation-form.review {
  background-color: white;
  margin-top: 11%;
}

.exchange-show .accommodation-form.review {
  padding-top: 5%;
  padding-bottom: 5%;
}

.accommodation-form.review {
  margin-left: 20%;
  margin-right: 20%;
  padding: 7%;
}
